<h1>
   MY BUCKETLIST ITEMS
</h1>
<div>
  <label>New Item name:</label> <input #itemName />
  <label>Description :</label> <input #itemDesc />
  <button type="button" class="btn btn-info" aria-expanded="false" (click)="add(itemName.value, itemDesc.value);
  itemName.value=''; itemDesc.value=''">
    Add
  </button>
</div>
<body>
  <div *ngIf="successMessage" class="alert alert-success alert-dismissible" role="alert"> 
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span></button>
  {{ successMessage }}
  </div>
  <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible" role="alert"> 
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span></button>
    {{ errorMessage }}
  </div>
  <div *ngIf="items.length == 0">
    <strong>There are no Items at the moment</strong>
  </div>
  <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>
  <div class="container">
      <!-- Top Navigation -->
    <div class="col-md-4" *ngFor="let item of items">
    <button class="item" (click)="edit(item.item_id); $event.stopPropagation()">
    <div class="content">
      <div class="grid">
        <figure class="item-image">
          <img *ngIf="item.status === 'False'" src="../../assets/images/todo.png" alt="img11"/>
          <img *ngIf="item.status === 'True'" src="../../assets/images/done.png" alt="img12"/>
          
          <figcaption>
            <h2><span>{{ item.name }}</span></h2>
            <p>{{ item.description }} 
              <br>
              <button class="glyphicon glyphicon-pencil"
                (click)="edit(item.item_id); $event.stopPropagation()"></button>
              <button class="glyphicon glyphicon-trash"
                  (click)="delete(item.item_id); $event.stopPropagation()"></button>
            </p>
          </figcaption>			
        </figure>
      </div>
    </div>
    </button><br>
    </div>
  </div>
  <button *ngIf="items.length != 0"type="button" class="btn btn-primary" (click)="goBack()">Back</button>
</body>
