<head>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-4">
      <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">BucketList API User Log In</div><br>
        </div>   
        
        <div style="padding-top:30px" class="panel-body" >
          <div class="main-login main-center">
            <div *ngIf="error" class="alert alert-danger alert-dismissible" role="alert"> 
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              {{ error }}
            </div>
            <div *ngIf="message" class="alert alert-success alert-dismissible" role="alert"> 
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
              {{ message }}
            </div>
            <form>
              <div class="form-group">
                <label for="name" class="cols-sm-4 control-label">Username:</label>
                <div class="cols-sm-12">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input type="text" class="form-control" #userName required/>
              
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="name" class="cols-sm-2 control-label">password:</label>
                <div class="cols-sm-10">
                  <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input type="password" class="form-control" #password required />
            
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <button class="btn btn-primary btn-lg login-button" (click)="userLogin(userName.value, password.value);
                userName.value=''; password.value=''">
                  Log In
                </button><br>
                <li class="btn btn-link navbar-btn" style="float:right;"
                (click)="register()">
                  Register
                </li>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



