<h1>
   MY BUCKETLISTS
</h1>
<div class="row">
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-default" (click)="add(bucketlistName.value); bucketlistName.value=''" type="button">Add</button>
      </span>
      <input #bucketlistName type="text" class="form-control" placeholder="New bucketlist...">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" #searchName class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search(searchName.value); searchName.value=''">Go!</button>
      </span>
    </div>
  </div>
</div>
<br>
<body>
  
<button *ngIf=showButton (click)="goBack()">Back</button>

<div class="bucketlists"  *ngFor="let bucketlist of bucketlists">
<div class="col-md-4">
    <button class="items"
              (click)="items(bucketlist.bucketlist_id); $event.stopPropagation()">
    <figure class="icon navy col-md-4">
      <img src="../../assets/images/29962-200.png" alt="sq-sample33" />
      <figcaption>
        <h2>{{ bucketlist.name }}</h2>
        <p>
          {{ bucketlist.date_created }}
        </p>
        <button class="glyphicon glyphicon-pencil"
              (click)="edit(bucketlist.bucketlist_id); $event.stopPropagation()"></button>
        <button class="glyphicon glyphicon-trash"
              (click)="delete(bucketlist); $event.stopPropagation()"></button>
      </figcaption>
    </figure>
    </button>
</div>
</div>
</body>
<footer></footer>