<p>
  bucketlists works!
</p>
<div>
  <table>
    <th> BUCKETLISTS </th>
    <tr>
      <td>Buckelist Title</td>
    </tr>
    <tr>
      <div *ngFor="let bucketlist of bucketlists">
        <td>
          {{ bucketlist.name }}
        </td>
        <td>
          <button class="delete"
            (click)="delete(bucketlist); $event.stopPropagation()">delete</button>
        </td>
         <td>
          <button class="delete"
            (click)="delete(bucketlist); $event.stopPropagation()">delete</button>
        </td>
      </div>
    </tr>
  </table>
  
</div>
