<h1>
   MY BUCKETLISTS
</h1>
<p>
  <button class="edit"
              (click)="edit(bucketlist); $event.stopPropagation()">Add New</button>
</p>
<body>
  <div>
    <table>
      <tr>
        <td>Buckelist Title</td>
        <td>Edit bucketlist</td>
        <td>Delete bucketlist</td>
      </tr>
      <div *ngFor="let bucketlist of bucketlists">
        <tr>
          <td>
            {{ bucketlist.name }}
          </td>
          <td>
            <button class="edit"
              (click)="edit(bucketlist); $event.stopPropagation()">edit</button>
          </td>
          <td>
            <button class="delete"
              (click)="delete(bucketlist); $event.stopPropagation()">delete</button>
          </td>
        </tr>
      </div>
    </table>
    
  </div>
</body>